.seo-card {
  width: 380px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 2rem;
  height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  transform: translateX(35px);
}

.seo-analysis {
  width: 380px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 2rem;
  height: 450px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 15px;
  transform: translateX(-35px);
}

.seo-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
}

#seoDoughnutChart {
  max-width: 150px;
  margin: 0 auto;
  height: 150px;
}

#seoRadarChart {
  width: 100%;
  max-height: 210px;
  margin-bottom: 1rem;
}

.seo-scores {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.seo-score-item {
  flex: 1 1 45%;
  text-align: center;
}

.seo-scores p {
  margin: 0.5rem 0;
  font-weight: 500;
  font-size: 0.8rem;
}

.seo-scores p strong {
  font-size: 0.8rem;
}

.seo-scores .seo-score-item:first-child p strong {
  color: #d4af37;
}

.seo-scores .seo-score-item:last-child p strong {
  color: #e74c3c;
}

.badge.bg-yellow {
  background-color: #FFD700;
}

.badge.bg-success {
  background-color: #28a745;
}

.seo-image-container {
  width: 620px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  height: 450px;
}

.seo-preview {
  border-radius: 12px;
  width: 400px;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 300px;
  object-fit: cover;
}

/* Stiluri pentru dropdown */
.dropdown-container {
  display: flex;
  align-items: center;
  height: 38px;
  padding: 0 8px;
  border: 1px solid #ced4da;
  border-radius: 5px 0 0 5px;
  background-color: #fff;
  box-sizing: border-box;
  border-left: 1px solid #ced4da; 
  padding-left: 0; /* Asigură-te că nu există padding care să acopere marginea stângă */
  margin-left: 0;
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
  background-color: #e0e0e0;
}
.selected-option:hover {
  background-color: #c6c6c6; /* Fundal mai închis la hover */
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1000;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f1f1f1;
}

.dropdown-option img {
  margin-right: 5px;
}

.input-group {
  display: flex;
  align-items: center;
  width: 400px;
  border: 1px solid #ced4da; /* Adaugă bordură pentru tot grupul de input */
  border-radius: 5px; /* Păstrează border-radius pentru input și buton */
}

.form-control {
  border-radius: 0 5px 5px 0;
  height: 38px;
  margin-left: 0px;
  border-left: 1px solid #ced4da
}

.input-group input {
  height: 38px;
  box-sizing: border-box;
  border-left: none;
}

.dropdown-arrow {
  margin-left: 8px;
  font-size: 16px;
  transition: transform 0.3s ease;
}

.dropdown-container.open .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-container.open .dropdown-options {
  display: block;
}
#customModal .modal-dialog {
  width: 700px; /* Modifică această valoare pentru a obține lățimea dorită */
}

#customModalLabel {
  text-align: center;  /* Center text */
  margin: 0 auto;      /* Optional: ensures it remains centered even if content grows */
}
.modal-header {
  border-bottom: none; /* Elimină bordura de sub header */
  margin-bottom: 0; /* Elimină eventualele margini */
}

.modal-body {
  padding-top: 0; /* Ajustează padding-ul dacă este necesar */
}
.seo-image-wrapper {
  display: flex;
  align-items: center; /* Aliniere pe verticală */
  justify-content: center; /* Aliniere pe orizontală */
  width: 60px;
  height: 60px;
  padding: 1rem;
  background-color: #f7f9fc;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.seo-previeww {
  max-width: 30px;
  max-height: 30px;
  border-radius: 8px;
}
.seo-text-content {
  margin-right: auto; /* Pentru a menține alinierea corectă */
}
.site-name {
  margin: 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.btn-sm {
  padding: 0.35rem 1rem; /* Ajustează padding-ul */
  font-size: 1.1rem; /* Ajustează font-ul */
  height: 40px;
  font-weight: bold;
}

/* src/app/components/performance-metrics/performance-metrics.component.css */
.metric {
  margin: 10px 0;
}

.good {
  color: green;
}

.warning {
  color: orange;
}

.bad {
  color: red;
}
.my-text {
  margin-left: -415px;
  color: rgb(80, 79, 79);
  margin-top: 10px;
  font-weight: bold; 
  font-size: 18px;
}
.roww {
margin-left: -70px;  /* Ajustează valoarea pentru a muta structura mai la stânga */
}
.metric-title {
font-size: 2.2rem; /* Font mare, albastru */
color: #007bff;
font-weight: bold;
}

.metric-subtitle {
font-size: 0.9rem;
color: #6c757d;
margin-top: -10px; /* Reducere spațiu */
}

.metric-bar-container {
position: relative;
height: 10px; /* Lățime ajustată a barei */
width: 100%;
display: flex;
background-color: #e0e0e0;
border-radius: 5px;
overflow: hidden;
}

.metric-bar.green {
background-color: #00c851;
}

.metric-bar.yellow {
background-color: #ffbb33;
}

.metric-bar.red {
background-color: #ff4444;
}

.metric-indicator {
position: absolute;
top: 0;
width: 3px; /* Lățime indicator */
height: 100%;
background-color: black;
}

.metric-value {
font-weight: bold;
font-size: 1.25rem;
color: black;
margin-top: 5px;
}

.info-section {
display: flex;
align-items: center;
border-left: 4px solid #007bff;
padding-left: 15px;
background-color: #f8f9fa;
padding: 15px;
}

.info-title {
color: #212529;
font-weight: bold;
font-size: 1.15rem;
margin: 0;
}

.info-text {
color: #6c757d;
font-size: 0.95rem;
margin-left: 15px;
}
/* Thinner full-width white background for the navigation bar */
.nav-bar {
  background-color: white; /* White background for the navigation bar */
  border-bottom: 1px solid #e0e0e0; /* Light border at the bottom */
  width: 100%; /* Full width */
  padding: 3px 10; /* Thinner padding for a slimmer bar */
  position: relative; /* Ensures the container stays in place */
}

/* Style for the navigation buttons */
.nav-btn {
  background: transparent;
  border: none;
  color: #6c757d;
  font-size: 16px;
  padding: 10px 15px;
}

.nav-btn:hover {
  color: #0056b3; /* Hover color */
  text-decoration: none;
}

/* Active tab styling */
.active-tab {
  color: #0056b3; /* Active text color */
  position: relative;
  font-weight: bold;
}

/* Underline effect for the active tab */
.active-tab::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #007bff; /* Blue underline color */
  border-radius: 2px;
}




