
<div class="nav-bar mt-5" >
  <div class="d-flex justify-content-between align-items-center border-bottom pb-2 position-relative">
    <!-- Navigation Buttons, using margin-left to move to the right -->
    <div class="btn-group" role="group" style="margin-left: 500px;">
      <button 
        type="button" 
        class="nav-btn" 
        [ngClass]="{'active-tab': currentComponent === 'dataBase'}"
        (click)="showComponent('dataBase')">
        Datele de bază
      </button>
      <button 
        type="button" 
        class="nav-btn" 
        [ngClass]="{'active-tab': currentComponent === 'importantIssues'}"
        (click)="showComponent('importantIssues')">
        Problemele importante
      </button>
      <button 
        type="button" 
        class="nav-btn" 
        [ngClass]="{'active-tab': currentComponent === 'keywordIssues'}"
        (click)="showComponent('keywordIssues')">
        Keywords Overview
      </button>
    </div>

    <!-- Right-aligned Copy Link Button -->
    <button 
      type="button" 
      class="btn btn-link text-secondary d-flex align-items-center" 
      (click)="copyLink()"
      style="margin-right: 50px;">
      <i class="bi bi-clipboard me-1"></i> Copiați linkul pentru partajare
    </button>
  </div>
</div>
<div *ngIf="currentComponent === 'dataBase'">
<br>
<div class="d-flex justify-content-end pe-5 ms-auto">
  <div class="seo-image-wrapper" style="margin-left: 50px;">
    <img *ngIf="(seoData$ | async)?.imageURLL" [src]="(seoData$ | async)?.imageURLL" alt="Preview Site SEO" class="seo-previeww" />
  </div>
  <div class="seo-text-content" style="margin-left: 21px;">
    <h4 class="site-name" >{{ siteNameChange }}</h4>
    <a [href]="siteLinkChange" target="_blank" style="color: #535151;">{{ siteLinkChange }}</a>
  </div>
  

  <!-- Container pentru butoane centrate cu margine sus -->
  <div class="d-flex justify-content-end w-100 ms-3" style="margin-top: 10px;">
    <button type="button" class="btn btn-primary me-2 rounded-pill btn-lg btn-sm" style="width: 270px;" (click)="openCountry()">Solicita oferta specializată</button>
    <button type="button" class="btn btn-secondary rounded-pill btn-lg btn-sm"  style="width: 220px;"(click)="openRaport()">
      <i class="bi bi-cloud-arrow-down"></i> Descarca Raportul
    </button>
  </div>
</div>


<!-- Modal pentru trimiterea unui email -->
<div class="modal fade" id="customRaport" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="customModalLabel">Pentru descarcarea raportului, introduceti adresa de mail</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Închide"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="emailAddress" class="form-label"></label>
            <div class="input-group">
              <input type="email" class="form-control" id="emailAddress" placeholder="name@example.com" [(ngModel)]="emailAddress" name="emailAddress" required>
              <button type="submit" class="btn btn-primary">Expediază</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Structura modală -->
<div class="modal fade" id="customCountry" tabindex="-1" aria-labelledby="customModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="customModalLabel" >Lăsați un număr de telefon pentru a obține mai multe facilități!</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Închide"></button>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="phoneNumber" class="form-label"></label>
            <div class="input-group">
              <div class="dropdown-container d-flex align-items-center">
                <div class="selected-option" (click)="toggleDropdown()">
                  <!-- Doar steagul este afișat aici, fără codul țării -->
                  <img *ngIf="selectedCountry && selectedCountry.flag" [src]="selectedCountry.flag" width="20" height="15" alt="{{ selectedCountry.name }}">
                  <!-- Săgeată care se rotește -->
                  <span class="dropdown-arrow" [class.open]="dropdownOpen">&#9660;</span>
                </div>
                <div class="dropdown-options" *ngIf="dropdownOpen">
                  <div *ngFor="let country of countryCodes" class="dropdown-option" (click)="selectCountry(country)">
                    <img *ngIf="country.flag" [src]="country.flag" width="20" height="15" alt="{{ country.name }}" class="me-2">
                    {{ country.name }} ({{ country.code }})
                  </div>
                </div>
              </div>
              <input type="tel" class="form-control" id="phoneNumber"  [(ngModel)]="phoneNumber" name="phoneNumber" required>
              <button type="submit" class="btn btn-primary">Expediază</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="seo-container">
  <div class="seo-card card p-3 my-3">
    <br>
    <h4 class="text-center">Scor SEO</h4> <br>
    <canvas id="seoDoughnutChart" class="mx-auto my-3" ></canvas>
    <div class="legend text-center my-2">
      <span class="badge bg-danger">0-25</span>
      <span class="badge bg-warning">26-50</span>
      <span class="badge bg-yellow">51-75</span>
      <span class="badge bg-success">76-100</span>
    </div> <br> <br><br>
    <p class="text-center">
      Viteza paginii dvs. este de {{ seoScore }}% din optim.
    </p>
  </div>
  <div class="seo-image-container text-center my-3 card"><div class="text-center"><h4 class="text-center"> Previzualizare site</h4> <br>
    <img *ngIf="(seoData$ | async)?.imageURL" [src]="(seoData$ | async)?.imageURL" alt="Preview Site SEO" class="seo-preview img-fluid"/>
  </div></div>
  <div class="seo-analysis card p-3 my-3"> <br>
    <h4 class="text-center">Analiza Categoriilor SEO</h4>
    <canvas id="seoRadarChart" class="mx-auto my-3" ></canvas> <br>
    <div class="seo-scores d-flex justify-content-between text-center">
      <div class="seo-score-item small">
        <p>
          <strong [ngStyle]="{'color': getColor((seoData$ | async)?.loadingOptimization)}">Optimizarea Încărcării:</strong>
          {{ (seoData$ | async)?.loadingOptimization }}%
        </p>
        <p>
          <strong [ngStyle]="{'color': getColor((seoData$ | async)?.desktop)}">Desktop:</strong>
          {{ (seoData$ | async)?.desktop }}%
        </p>
      </div>
      <div class="seo-score-item">
        <p>
          <strong [ngStyle]="{'color': getColor((seoData$ | async)?.jsStart)}">Pornire JS:</strong>
          {{ (seoData$ | async)?.jsStart }}%
        </p>
        <p>
          <strong [ngStyle]="{'color': getColor((seoData$ | async)?.interactive)}">Interactiv:</strong>
          {{ (seoData$ | async)?.interactive }}%
        </p>
        <p>
          <strong [ngStyle]="{'color': getColor((seoData$ | async)?.mobile)}">Mobile:</strong>
          {{ (seoData$ | async)?.mobile }}%
        </p>
      </div>
    </div>
  </div>
</div>
<br><br>
<app-ux></app-ux>
</div>
<app-important-issues *ngIf="currentComponent === 'importantIssues'"></app-important-issues>
<app-keyword-overview *ngIf="currentComponent === 'keywordIssues'"></app-keyword-overview>