<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<div>
  <div class="container d-flex flex-column align-items-center justify-content-center min-vh-100">
    <div class="text-center">
      <h2 class="fw-bold">Analizează o pagină web</h2>
      <p>Analizează în profunzime SEO-ul unei pagini web</p>
    </div>
    
    <form [formGroup]="seoForm" (ngSubmit)="checkSeo()">
      <div class="row mb-4" style="width: 100%;">
        <div class="col-13 col-md-15"> 
          <div class="input-group">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Introduceți link-ul" 
              aria-label="Introduceți link-ul"
              formControlName="url">
            <button class="btn btn-primary" type="submit">Verifică SEO</button>
          </div>
        </div>
      </div>
      <div *ngIf="urlError" class="text-danger">
        {{ urlError }}
      </div>
    </form>
  </div>
</div>




